//$Path:"";
//$Path:"https://gdn-cdn.s3.amazonaws.com/embed/2019/06/westpac-scholars";
//$BaseColor1:#FFAE49;
//$BottomColor:#F79D2C;
$BaseColor1:#FCD5C2;
$BottomColor:#FFB28D;
$color_Para :#232323;
$color_H1:#144446;
